<!-- <div class="row">
  <div class="col-md-6">
    <img ng-src="{{ birdsShow.bird.image }}">
  </div>
  <div class="col-md-6">
    <h2>{{ birdsShow.bird.name }}</h2>
    <p><strong>{{ birdsShow.bird.latinName }}</strong> <em>{{ birdsShow.bird.family }}</em></p>

    <a ui-sref="birdsEdit({ id: birdsShow.bird.id })" class="btn btn-primary">Edit</a>
    <button ng-click="birdsShow.delete()" class="btn btn-danger">Delete</button>
  </div>
</div> -->

<h1> Level: {{ levelsShow.level.index }} </h1>
<h3> Seconds left: {{ levelsShow.level.time }} </h3>
<h3> Score: {{ levelsShow.level.score }} </h3>
<p id="textSource" ng-model="textSource"> {{ levelsShow.level.content }} </p>
<textarea autofocus name="comment" form="usrform" ng-model="textInput" ng-change="output()">Enter text here...</textarea>


<!-- <ul>
  <li ng-repeat="level in levelIndex.all">
    <a ui-sref="usersIndex"> Level {{ level.index }} </a>
    <p>{{ level.content }} </p>
  </li>
</ul> -->
