<!-- <script type="../controllers/show-index.controller">
    document.getElementById('textInput').onblur = function (event) {
        var blurEl = this;
        setTimeout(function() {
            blurEl.focus()
        }, 10);
    };
</script> -->

<div class="skewed-bg"></div>
<div class="textC br2">
  <div class="wordsC ba bw3 br2">
    <h1 class="br2 dib f4 bg-near-black white mv0 pv2 ph3">Level: {{ levelsShow.level.index }}</h1>
    <h1 class="br2 dib f4 bg-near-black white mv0 pv2 ph3">Score: {{ 0 }}</h1>
    <h1 class="br2 dib f4 bg-near-black white mv0 pv2 ph3">Seconds left: {{ levelsShow.level.seconds }}</h1>
    <h1 class="br2 dib f4 bg-near-black white mv0 pv2 ph3">Speed: {{ 45 }} wpm</h1>
    <p keypress-events class="black f4 levelText" id="textSource" ng-model="textSource"></p>
    <textarea id="textInput" autofocus name="comment" form="usrform" ng-trim="false" ng-model="textInput" ng-change="output()">Enter text here...</textarea>
  </div>
</div>
<div class="dt mw6 center pv4 pv5-m pv6-ns">
  <img ng-src="/images/keyboardP.png" class=" w10 h4 pa3">
</div>
