<div class="skewed-bgR"></div>
<div class="">
  <!-- hello {{ main.user }} -->
</div>
<div class="mw100 ph5-ns">

  <div class="mw9 ph3-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
        <div class="bg-white pv4 tc mr5 ba br4 b--light-blue userP">
          <img ng-src="{{ main.user.image}}" class="h4 mw4 mh4 br-100 mw4 v-mid">
          <div class="db f2 mt3 mb4">
            {{ main.user.username }}
          </div>
          <div class="">
            - - - - - - - - - - -
            <div class=" pa1 dib pa3 br-100 bg-black white f3  ba bw2 pumpIt">
              {{ main.user.userScore }} pts
            </div>
            - - - - - - - - - - -
          </div>
          <div class="db tl f4 mt3 ml4 mb3">
            Progress: <span class="fr mr4">5/15</span>
            <div class="mt2">
              Most played: <span class="fr mr4">English</span>
            </div>
            <div class="mt2">
              Highest level score:<span class="fr mr4">450pts</span>
            </div>
          </div>
        </div>
      </div>

      <div class="fl w-100 w-50-ns center mw5 mw6-ns hidden mv2">
        <div class="bg-dark-gray white f4 pa3 tc br4 br--top"> Leader Board</div>
        <!-- <h1 class="f4 bg-near-black white mv0 pv2 ph3 tc">Leader Board</h1> -->
        <div class="bg-white ph2 br4 br--bottom ba b--light-blue">
          <div class="pb3"></div>
          <div class="media" ng-repeat="user in usersIndex.users">
            <div class="media-left ph3 pt1">
              <a ui-sref="mv1">
                <h4 class="dib ml4 mr2">1</h4>
                <h4 class="dib ml4 mb3">{{ user.username }}</h4>
                <h5  class="dib fr ml5 ">{{ user.userScore }}pts</h5>
                <div class="imageC fl mr4 mb2">
                  <img class="br-100 h2 ba bw1 b--grey mw2 mh2 userImage" ng-src="{{ user.image }}">
                </div>
                <hr>
              </a>
            </div>
          </div>
          <div class="pb3"></div>
        </div>

      </div>

    </div>
  </div>














</div>
