<div class="skewed-bg">
  <div class="content">
    <h1 class="f3 f2-m f1-l fw2 white mv3">
      Time is money.</br>Learn to touch type now.
    </h1>
    <h2 class="f5 f4-m f3-l fw2 white-80 mt0 lh-copy textC">
      Qwerty™  is a completely free service that trains you to become more productive, speeding up your WPM so you can work as fast as your thoughts.
    </h2>
    <img ng-src="/images/landingIcon.png" class="dib w10 h5" alt="Qwerty App" ui-sref="home">
  </div>
</div>

<!-- <footer class="footer">
<p class="credits">
Pen by Jose L Pimienta
<a class="link" href="https://twitter.com/pipozoft">@pipozoft</a>
</p>
</footer> -->
