<div class="skewed-bgR"></div>
<div class="clint db dn-l"></div>
<div class="testMedia f6 f4-m f4-l dn-l tc">
  <h2>Hey! Go get a bigger screen</h2>
</div>
<div class="dn db-l content">
<div class="ba br3 bw1 mw7 center bg-white pa3 m5 ph5-ns">
  <h1 class="black">Register</h1>

  <form ng-submit="register.register()" name="register.registerForm" novalidate>

    <div class="mt3">
      <label class="db fw6 lh-copy f6">Username</label>
      <input class="br3 form-control pa2 ba bg-transparent hover-bg-black hover-white w-80" type="text" name="username" ng-model="register.user.username" placeholder="Username">
    </div>
    <div class="mt3">
      <label class="db fw6 lh-copy f6">Email</label>
      <input class="br3 form-control pa2 ba bg-transparent hover-bg-black hover-white w-80" type="email" name="email" ng-model="register.user.email" placeholder="Email" ng-pattern="register.emailValidate" required>
    </div>
    <div class="" ng-messages="register.registerForm.email.$error" ng-show="(register.registerForm.$submitted || register.registerForm.email.$touched)">
      <p ng-message="required">Please enter your email</p>
      <p ng-message="pattern">Please enter a valid email address</p>
    </div>
    <div class="form-group mv3">
      <label class="db fw6 lh-copy f6">Image</label>
      <input class="br3 form-control pa2 ba bg-transparent hover-bg-black hover-white w-80" type="text" name="image" ng-model="register.user.image" placeholder="Image">
    </div>

    <div class="form-group mv3">
      <label class="db fw6 lh-copy f6">Password</label>
      <input class="br3 form-control pa2 ba bg-transparent hover-bg-black hover-white w-80" type="password" name="password" ng-model="register.user.password" placeholder="Password" minlength="6" required>
    </div>

    <div class="" ng-messages="register.registerForm.password.$error" ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched)">
      <p ng-message="required">Please enter a password</p>
      <p ng-message="minlength">Your password must be at least 6 characters</p>
    </div>

    <div class="form-group mv3">
      <input class="br3 form-control pa2 ba bg-transparent hover-bg-black hover-white w-80" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation" ng-pattern="register.user.password" required>
    </div>

    <div class="" ng-messages="register.registerForm.passwordConfirmation.$error" ng-show="(register.registerForm.$submitted || register.registerForm.passwordConfirmation.$touched)">
      <p ng-message="required">Please confirm your password</p>
      <p ng-message="pattern">This must match your password</p>
    </div>

    <input class="br3 b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Submit" />
  </form>
</div>
</div>
<footer class="footerB pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2017 <b class="ttu">Qwerty</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
  </div>
</footer>









<!-- <div class="skewed-bg">
  <div class="content">
<h1>Register</h1>
<form ng-submit="register.register()">
  <div class="form-group">
    <input class="form-control" type="text" name="username" ng-model="register.user.username" placeholder="Username">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="register.user.image" placeholder="Image">
  </div>
  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="register.user.email" placeholder="Email">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password" ng-model="register.user.password" placeholder="Password">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
</div>
</div> -->
