// Import all of your scss files here
userI{
  text-align: center;
}
textarea {
  width: 100%;
  opacity: 0;
}
// spans
.correct {
  color: green;
  background-color: #baffc4;
}

.wrong {
  color: red;
  background-color: #ffaba6;
}

.cell:hover {
  background-color: lightGrey;
}

.next {
  border-bottom: 2px solid #3c96d2;
  animation: blink 0.25s steps(2) infinite alternate both;
}

@keyframes blink {
  from {
    border-color: #3c96d2;
  }
  to {
    border-color: transparent;
  }
}


a,article{
  cursor: pointer;
}
.levelText{
  letter-spacing: 1px
}

.skewed-bg{
  background: -moz-linear-gradient(top, #207cca -1%, #3c96d2 0%, #207cca 0%, #3ee5ac 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #207cca -1%,#3c96d2 0%,#207cca 0%,#3ee5ac 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #207cca -1%,#3c96d2 0%,#207cca 0%,#3ee5ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#3ee5ac',GradientType=0 ); /* IE6-9 */

  padding:  200px 0;
  transform: skew(0deg, -5deg);
  margin-top: -250px;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;

  .content{
    transform: skew(0deg, 5deg);
    text-align: center;

    .bratva {
      width: 26em;
      white-space:nowrap;
      overflow:hidden;
      // -webkit-animation: type 5s steps(10, end);
      animation: type 5s steps(15, end);
    }

    @keyframes type{
      from { width: 0; }
    }

    @-webkit-keyframes type{
      from { width: 0; }
    }




  }

  .title{
    padding-top: 100px;
    font-weight: normal;
  }

  .text{
    width:60%;
    margin: 25px auto;
    color: lighten(#00B285, 55);
  }

}

.footer{
  padding-top: 300px;

  .credits{
    text-align: center;
    color: #666;

    .link{
      color: #00B285;
      text-decoration: none;
    }

  }

}
nav{

}

.textC{
  margin: 0 10%
}

.wordsC{
  padding: 10px;
  background: azure;
}


.skewed-bgR{
  background: -moz-linear-gradient(top, #207cca -1%, #3c96d2 0%, #207cca 0%, #3ee5ac 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #207cca -1%,#3c96d2 0%,#207cca 0%,#3ee5ac 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #207cca -1%,#3c96d2 0%,#207cca 0%,#3ee5ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#3ee5ac',GradientType=0 ); /* IE6-9 */

  padding:  200px 0;
  transform: skew(0deg, -5deg);
  margin-top: -250px;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

@keyframes bgAnimR {
  0% {
    transform: skew(0deg, -5deg);
  }
  100% {
    transform: skew(0deg, 5deg);
  }
}

.skewed-bgR {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out bgAnimR;
  animation: bgAnimR 1.0s forwards;
  -webkit-animation: bgAnimR 1.0s forwards; /* for less modern browsers */
}


@keyframes bgAnimL {
  0% {
    transform: skew(0deg, 5deg);
  }
  100% {
    transform: skew(0deg, -5deg);
  }
}

.skewed-bg {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out bgAnimL;
  animation: bgAnimL 1.0s forwards;
  -webkit-animation: bgAnimL 1.0s forwards; /* for less modern browsers */
}



.pumpIt{
  animation: heartbeat 3s infinite;
  display: inline-block;
  -webkit-animation-name:theBeat;


}
@keyframes theBeat
{
  0%
  {
    transform: scale( .98 );
    opacity: 0.8
  }
  20%
  {
    transform: scale( 1 );
    opacity: 1;
  }
  40%
  {
    transform: scale( .98 );
    opacity: 0.8
  }
  60%
  {
    transform: scale( 1 );
    opacity: 1;
  }
  80%
  {
    transform: scale( .98 );
    opacity: 0.8
  }
  100%
  {
    transform: scale(.98 );
    opacity: 0.8
  }
}

.userImage{
  min-width: 50px;
  min-height: 50px;
}


.levelShow{
  background: #FF645E;
}

.scoreShow{
  background: #3788CC;
}

.secondsShow{
  background: #37CCA3;
}

.wpmShow{
  background: #A330B2;
}



.navItem:hover {
  font-weight:bold;
  letter-spacing: -1.5px;
  border: 2px solid white;
  border-radius: 5px;
  animation: 1.5s ease-out borderIn;
}

@keyframes borderIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.clint{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url('../images/ceHome.png');
  height: 500px;
}

.tickets{
  min-width: 225px;
  animation: none;
  &:hover{
    transform: scale(1.1);
  }
}

.tickets:last-child {
  border: 5px solid #3ee5ac;
  animation: heartbeat 3s infinite;
  display: inline-block;
  -webkit-animation-name:theBeat;
}

.transformActive{
  position:absolute;
  background: white;
  top: 20%;
  left: 37.5%;
  width: 25%;
  height: 50%;
  background: transparent;
  text-align: center;
  color: black;
  border-radius: 10px;
  line-height: 20px;
  padding: 10px;
  animation: goUp 0.20s;
  -webkit-animation-name:goUp;
  background: white;
  background-image: url('http://orig07.deviantart.net/eac0/f/2011/185/c/d/victory_cat_by_oman96-d3kzkd2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 100;
  background-size: 200px 150px;
  border: 2px solid grey;
}

.transformActiveFail{
  position:absolute;
  background: white;
  top: 20%;
  left: 37.5%;
  width: 25%;
  height: 50%;
  background: transparent;
  text-align: center;
  color: black;
  border-radius: 10px;
  line-height: 20px;
  padding: 10px;
  animation: goUp 0.20s;
  -webkit-animation-name:goUp;
  background: white;
  background-image: url('http://vignette2.wikia.nocookie.net/yoville/images/b/b0/Sad_Cat.png/revision/latest?cb=20160529063423');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 100;
  background-size: 200px 150px;
  border: 5px solid #FF645E;
}

@keyframes goUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.moveOn{
  line-height: 2100%;
  font-weight: bold;
}
.moveOnF{
  line-height: 200%;
  font-weight: bold;
}



.media-left{
  clear: both;
}

.hvr-underline-from-center {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #A330B2;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
