<div class="skewed-bg">
  <div class="content dn db-l">
    <h1 class="f3 f2-m f1-l fw2 white mv4 pa3">
      Time is money<br>Learn to touch type now
    </h1>
    <h2 class="f5 f4-m f3-l fw2 white-80 mt0 lh-copy textC">
      Qwerty™  is a completely free service that trains you to become more productive, speeding up your WPM so you can work as fast as your thoughts.
    <br><a class="pa4 mt0 f6 link dim br-pill ph3 pv2 mb2 white bg-dark-pink" ui-sref="login">Get Started</a>
    </h2>
    <img ng-src="/images/landingIcon.png" class="w10 h5 pa3" alt="Qwerty App" ui-sref="home">
  </div>
</div>
