<div class="skewed-bg"></div>
<div class="ba bw1 mw5 mw7-ns center bg-white pa3 pb7 mt4 ph5-ns w-50">
  <div class="w-50 fr h2 pl5 pt5">
    <img src="http://i.imgur.com/4dSv0jH.gif">
  </div>
  <h1 class="black">Login</h1>
  <div class="login">
    <form ng-submit="login.login()" class="w-50 cf fl br mr5">
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <legend class="f4 fw6 ph0 mh0"></legend>
        <div class="mt3">
          <label class="db fw6 lh-copy f6" for="email-address">Email</label>
          <input class="form-control pa2 input-reset ba bg-transparent hover-bg-black hover-white w-80" type="email" name="email" ng-model="login.user.email" placeholder="Username">
        </div>
        <div class="form-group mv3">
          <label class="db fw6 lh-copy f6" for="password">Password</label>
          <input class="form-control pa2 input-reset ba bg-transparent hover-bg-black hover-white w-80" type="password" name="password" ng-model="login.user.password" placeholder="Password">
        </div>
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Submit">
         <a ng-controller="MainCtrl as main" ng-hide="main.user" class="mt2 f6 link dim black db" ui-sref="register">Sign up</a>

      </form>
    </div>

    </div>
