<div class="skewed-bg"></div>


<div class="dt mw6 center pt0 pb5 pv5-m pv6-ns">
  <div class="db dtc-ns v-mid-ns">
    <h1>Login</h1>
    <form ng-submit="login.login()">
      <div class="form-group">
        <input class="form-control" type="email" name="email" ng-model="login.user.email" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" ng-model="login.user.password" placeholder="Password">
      </div>
      <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
  <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns">
    <form>
      <p class="lh-copy">
        If you don’t already have an account click the button below to create your account.
      </p>
      <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
</div>
