<div class="skewed-bg"></div>
<div class="clint db dn-l"></div>
<div class="testMedia f6 f4-m f4-l dn-l tc">
  <h2>Hey! Go get a bigger screen</h2>
</div>
<div class="dn db-l ba bw1 mw5 mw7-ns center bg-white pa3 pb7 mt4 ph5-ns w-50 br3 ">
  <div class="w-50 fr h2 pl5 pt5">
    <img class="br3 mt3 db" src="http://i.imgur.com/4dSv0jH.gif">
  </div>
  <h1 class="black">Login</h1>
  <div class="login">
    <form ng-submit="login.login()" class="w-50 cf fl br mr5">
        <legend class="f4 fw6 ph0 mh0"></legend>
        <div class="mt3">
          <label class="db fw6 lh-copy f6" for="email-address">Email</label>
          <input class=" br3 form-control pa2 input-reset ba bg-transparent hover-bg-black hover-white w-80" type="email" name="email" ng-model="login.user.email" placeholder="Username">
        </div>
        <div class="form-group mv3">
          <label class="db fw6 lh-copy f6" for="password">Password</label>
          <input class="form-control br3  pa2 input-reset ba bg-transparent hover-bg-black hover-white w-80" type="password" name="password" ng-model="login.user.password" placeholder="Password">
        </div>
        <input class="b br3  ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Submit">
        <a ng-controller="MainCtrl as main" ng-hide="main.user" class="mt2 f6 link dim black db" ui-sref="register">Sign up</a>
      </form>
    </div>

  </div>

  <footer class="footerB pv4 ph3 ph5-m ph6-l mid-gray">
    <small class="f6 db tc">© 2017 <b class="ttu">Qwerty</b>. All Rights Reserved</small>
    <div class="tc mt3">
      <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
      <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
      <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    </div>
  </footer>
